<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>   
        
        <center><h1>EMPRESA DE SEGURIDAD "TRUJILLO"</h1></center>
        <nav>   
                <ul class="menu">
                    
                    <li><a href="/quienes">Quienes Somos</a></li>
                    <li><a href="/servicios">Servicios</a></li>
                    <li><a href="/noticias">Noticias</a></li>
                    <li><a href="/contacto">Contactos</a></li>
                    
                </ul>
        </nav>
        <div class="container">
            <h2>BRINDAMOS SERVICIO DE SEGURIDAD</h2><br><br>
            <p>Ofrecemos servicio de seguridad las 24 horas del dia <br>para instituciones publicas
                supermercados , universidades , colegios , hospitales y viviendas publicas <br><br>
                Brindando el servicio de seguridad de manera eficaz con reportes y registros cada dia
                <br><br><br>
            </p>
            <img src="../static/logo2.png" alt="" class="img">
    </div>
</body>
</html>
