<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Noticias</title>
</head>
<body>
    <center><h1 class="not">NOTICIAS</h1></center>
    <div class="container3">
        <div class="card">
            <figure>
                <img src="../static/noticia1.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Requerimos Personal</h3>
                <p>La empresa TRUJILLO requiere de jovenes y señoritas para el trabajo 
                    de seguridad
                </p>
                    <a href="#">Leer mas..</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../static/noticia2.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Seguridad en Bolivia</h3>
                <p>La empresa TRUJILLO brindara seguridad a las universidades, colegios,
                    supermercados,etc a nivel nacional
                </p>
                    <a href="#">Leer mas..</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../static/noticia3.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Registros y novedades</h3>
                <p>La empresa brinda un informe del dia a dia de manera estricta
                    registrando nombres y registrango las horas de entradas y salidas
                </p>
                    <a href="#">Leer mas..</a>
            </div>
        </div>
    </div>
    <a href="/">Volver</a>
</body>
</html>