<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Docu</title>
</head>
<body>
    <h1>¿QUIENES SOMOS?<br>BRINDAMOS SERVICIO DE SEGURIDAD</h1><br><br>
    <h2>Quienes somos</h2>
    <p> Somos una empresa que brindara seguridad a la ciudadania</p>
    <h3>Mision</h3>
    <p>Brindar seguridad las 24 horas del dia</p>
    <h3>Vision</h3>
    <p>Mantener las zonas y lugares seguros para la ciudadania</p>
    <div class="container1">
        <img src="../static/IMAGEN10.jpg" alt="" class="imagen">
        <p>
            Recibirás reportes diarios de las rondas realizadas, informes de incidencias e informes mensuales, 
            así como sugerencias para mejorar el servicio.
            <br><br>
            Contarás con Vigilantes de Seguridad profesionales, con formación específica y acorde al servicio
             encomendado, formados en TRUJILLO, nuestro propio Centro de Formación para Seguridad Privada.
            <br><br>
            Tendrás a tu servicio una de las empresas líderes y con más experiencia en el sector de servicios de 
            seguridad y vigilancia para eventos y lugares especificos, que diseñará y coordinará  la operativa específica más adecuada 
            para garantizar la seguridad de tu evento.
            <br><br>
            Realizada a partir de un análisis de riesgos, que te permitirá conocer el día a día de tu servicio de seguridad.
          </p>
    </div>
    <a href="/">Volver</a>
</body>
</html>