<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container2">
        <h1>NUESTROS SERVICIOS</h1>
        <form action="/"><input type="submit" value="Volver" class="enviar"></form>
        <br><br>
        <div class="row">
            <div class="servicio">
            
                <img src="../static/policia (1).png" alt="" class="icono">
                <h2>VIGILANCIA</h2>
                <p>Vigilancia las 24 horas del dia con turnos de 8 horas, 12 horas y 24 horas</p>
            </div>
            <div class="servicio">
                <img src="../static/camara-de-cctv.png" alt="" class="icono">
                <h2>MONITOREO</h2>
                <p>Monitoreo a todas las zonas del lugar en vigilancia las 24 horas del dia</p>
            </div>
            <div class="servicio">
                <img src="../static/hacker.png" alt="" class="icono">
                <h2>REGISTROS</h2>
                <p>Reeportes por dia para ver los registros de quienes ingresas y quienes salen
                    del lugar en vigilancia
                </p>
            </div>
            <div class="servicio">
                <img src="../static/escudo-de-seguridad.png" alt="" class="icono">
                <h2>SEGURIDAD</h2>
                <p>Brindamos seguridad de manera eficiente y eficaz con nuestro personal
                    altamente capacitados en seguridad
                </p>
            </div>
        </div>
    </div>
    
</body>
</html>